
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background-color: rgba(175, 78, 40, 0.87);
}
#textoanimado{
    margin-bottom:1%;
    margin-top: 12%;
    position: absolute;
    margin-left: 12%;    
    font-family: 'Acme',monospace;
    font-size: 20px;
}


.anime{
    -moz-animation: 5s;
    -webkit-animation: 5s;
    animation-duration: 3s;
    animation-name: nome;
    color: rgba(255, 255, 255,0.980);
}

@keyframes nome{
    from{
        margin-left: 50%;
        width: 200%;
    }
    to {
        margin-left: 0%;
        width: 100%;

    }
}
h1{
    font-family: 'Press Start 2P', cursive;

}

h2 {
    font-family: 'Play', sans-serif;
    color: orangered;
    text-shadow: black 0.1em 0.1em 0.09em;
    position: relative;
    font-size: 25px;
}
h3 {
    font-family: 'Play', sans-serif;
    color: black;
    font-size: 18px;
    position: absolute;
    font-size: 20px;
}

hr{
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: rgba(22, 19, 20, 0.877); 
    width: 70%;
    margin-left: 180px;
    margin-right: 50px;
}


header {
    font: normal 20pt Arial;
    color: white;
    
    font-style: oblique;

    width: 1000px;
    height: 100px;
    text-align: center;
    padding: 10px;
    position: relative ;
    margin: -20px 10px 10px 10px;
    margin-top: 10%;
    box-shadow: rgba(106, 129, 129, 0.37);
}
/*------------IMAGENS ----------------*/
#imgtopo{
    width: 30%;
    position: absolute;
    left: 100px;
    top: 5px;
    scroll-padding-top: 5px;
    padding-bottom: 5px;
}
#imgfinal{
    width: 30%;
    position: relative;
    top: 5%;
    padding-top: 3%;
    left: 500px;
}

section#cont{
    font: normal 16pt 'Acme';
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------------MENU---------------*/

nav#menu ul{
    list-style: none;   
}
/*
.efeito-grow{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(100px) translateZ(0);
    transform: perspective(100px) translateZ(0);
    box-shadow: 0 0 5px transparent;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.efeito-grow: hover, .efeito-grow: focus, .efeito-grow:active{
    -webkit-transform: scale(2.91)
}*/
nav#menu li{
    display: inline;
    font: normal 20px 'Acme';
    font-family: 'Play', sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(71, 67, 67, 0.76);
    margin: 2px;
    padding: 10px;
    transition: background-color 0.5s;
}
nav#menu li:hover{
    background-color: rgb(238, 78, 50);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    border-radius: 25%;
   /* font-family: 'Press Start 2P';*/
}
nav#menu {
    display: flexbox;
    position: fixed;
    top:10px;
    left: 350px;    
}
nav#menu a {
    color:black;
    text-decoration: none;
}
nav#menu a:hover{
    color:white;
    
}
/*-------------imagem ligada ao menu----------- */
img#perfil{
    position: absolute;
    left: 1000px;
    top: 15px;
}
section{
    background-color: rgba(250, 250, 250, 0.966);
    border-radius: 10px;
    padding: 40px;
    width: 900px;
    margin: 200px;
    margin-bottom: 10%;
    margin-top: 7%;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    
}
.quemsou{
    background-color: rgba(250, 250, 250, 0.966);
    border-radius: 10px;
    padding: 40px;
    width: 900px;
    margin: 200px;
    height: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    text-align: justify;
}

.conhecimentos{
    text-align: justify;
}

.intro{
    text-align: justify;
    
}

/* ------------RODAPÉ-------------------*/
footer{
    text-align: center;
    position: relative;
    font-family: 'Press Start 2P', cursive;
}

